@import "../core/variables";

button {
  height: 2rem;
  width: fit-content;

  padding: 0 1rem;
  border: none;
  border-radius: 16px;

  font-size: $textSize;

  color: $gridColor;
  background-color: $buttonColor;

  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(80%);
  }
}
