.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;

  display: none;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);

  &.active {
    display: flex;
  }
}
